.satu,.dua,.tiga{
  background-color: #03f0fc;
  overflow: scroll;
  padding-top: 10px;
  width: 23%;
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
}
.satu{
  border-style: dotted;
  border-width:10px;
  border-color: red;
}
.dua{
  border-style: solid;
  border-color: green;
}
.tiga{
  border-style: dashed;
  border-color: blue;
  border-width:15px;
}
